# Requirements without Version Specifier
beautifulsoup4
requests
lxml
selenium
undetected-chromedriver

###### Requirements with Version Specifiers ######
# docopt == 0.6.1             # Version Matching. Must be version 0.6.1